:root {
}

.menu-container-hidden {
    left: auto;
    translate: -110% 0;
    display: flex;
    opacity: 0;
}

.origami-man-hidden {
    opacity: 0;
    translate: 100% 0;
}

.shop-hidden {
    opacity: 0;
}
